* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Helvetica;
  text-align: center;
  color: darkslategray;
}

header {
  background: lightgray;
  height: 70px;
}

.top {
  padding: 10px 0 0 0;
}

option {
  color: darkslategray;
  font-size: 1em;
}

.product {

}

.small {

}
/*
.spaceBlock {
  margin: 10px 0px;
}

.navForm {
  padding-top: 25px;
}

.button {
    background-color: darkslategray;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}
*/