* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Helvetica;
  text-align: center;
  color: darkslategray;
}

header {
  background: lightgray;
  height: 70px;
}

.top {
  padding: 10px 0 0 0;
}

option {
  color: darkslategray;
  font-size: 1em;
}

.product {

}

.small {

}